# Gradle files
.gradle/
*.gradle
build/

# Android specific
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.settings/
.classpath
.project
local.properties
*.iml

# IDE
.idea/
*.swp
*.swo
*~
.DS_Store

# Project specific
/captures
.externalNativeBuild
